.wrapper {
  /* width: 960px; */
  height: 82vh;
  margin: 0px auto;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s ease;
  text-align: left;
  position: relative;
}

.wrapper-active {
  background-position: center;
}

.main-story {
  height: 100%;
  display: flex;
  align-items: center;
}

.players {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-character-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.generated_character_heading {
  font-size: 1.3rem;
  /* color: green; */
}

.intro {
  font-size: 90%;
  line-height: 1.4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.date {
  font-size: 85%;
  color: #b5c1ad;
}

.generate_container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem 4rem;
  width: 100%;
}

.input_container {
  width: 100%;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  border: 2px solid #f48005;
  margin-bottom: 1rem;
}

.input {
  width: 90%;
  margin: 0 auto;
  display: block;
  background: none;
  font-size: 1.1rem;
  border: none;
  height: 50px;
  padding: 0.4rem;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  outline: none;
  color: #fff;
}

.opponent_player_loading {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.button_center {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.simulationContainer {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  position: relative;
  padding: 3rem;
}
.simulationContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.simulation {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 30;
}

.infoContainer {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  background-color: #f48005;
  padding: 1rem;
  border-radius: 0.3rem;
}

.infoMessage {
  font-size: 0.9rem;
  font-weight: 300;
}
