#content {
  overflow: auto;
  height: 100%;
}
#content {
  overflow: auto;
}
#nav, #feature, #footer {
  margin: 1%;
}

li{
  display: inline;
  padding: 5px;
}

#nav, #feature {
  background-color: #efefef;
  padding: 0.5em, 0;
}

#feature {
  height: 10em;
  margin-bottom: 1em;
  background-color: #efefef;
}