@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,900&display=swap');

@import url('./styles/grid.css');

body {
  color: #ffffff;
  background-color: grey;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 90%;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

a{
  color: #b5c1ad;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
}

code {
  font-family: source-code-pro, 'Poppins', sans-serif, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
